*
{
    font-family: 'Open Sans', sans-serif;
}
html
{
    scroll-behavior: smooth;
    
}



@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

#phone
{
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
    max-height: 60vh;
    display: flex;
    float: inline-end;
}
svg
{
}

.header-div
{
    display: flex;
    justify-content: space-around;
}

.header-buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-content
{   margin-top: 15%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

header
{
    background: #f25287;
    background-size: 400% 400%;
    padding: 1rem;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.navbar-brand
{
    max-width: 5%;  
}
.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}


.container
{
    display: flex;
    justify-content: space-around   ;
}

.nav-content
{   margin-left: 25rem;
    display: flex;
    justify-content: space-around   ;
}


.laptop
{
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cpath%20fill%3D%22%23FF0066%22%20d%3D%22M42%2C-53.7C57.3%2C-46.6%2C74.5%2C-38.2%2C78%2C-25.8C81.4%2C-13.3%2C71%2C3.2%2C65.1%2C21.2C59.3%2C39.2%2C58.1%2C58.7%2C48%2C66.3C37.9%2C74%2C18.9%2C69.8%2C2.6%2C66.2C-13.8%2C62.6%2C-27.5%2C59.7%2C-41.8%2C53.4C-56%2C47.2%2C-70.8%2C37.5%2C-75.1%2C24.4C-79.5%2C11.2%2C-73.4%2C-5.3%2C-65.8%2C-19.1C-58.2%2C-32.9%2C-49%2C-43.9%2C-37.8%2C-52.3C-26.6%2C-60.7%2C-13.3%2C-66.5%2C0%2C-66.5C13.3%2C-66.5%2C26.6%2C-60.8%2C42%2C-53.7Z%22%20transform%3D%22translate(100%20100)%22%2F%3E%3C%2Fsvg%3E");
    background-size:auto;
    }

    .dealer
    {
        font-family: 'Yellowtail', cursive;

    }

    
    
    #title {
        width: 100%;
        position: absolute;
        padding: 0px;
        margin: 0px auto;
        text-align: center;
        font-size: 27px;
        color: rgba(255, 255, 255, 1);
        font-family: 'Open Sans', sans-serif;
        z-index: 9999;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
    }



    #buttoner
    {
        color: #f25287;
    }

    /* .wrapper {
        display: flex;
        justify-content: flex-start;
        padding: 0px !important;
        margin: 0px  !important;
        max-width: 1200px;
        text-align: center;
        
    }
    
    .right {float: right !important;}
    .parent {
        width: 45%;
        margin: 20px;
        height: 300px;
        border: 1px solid blue;
        overflow: hidden;
        position: relative;
        float: left;
        display: inline-block;
      cursor: pointer;
    }
    
    .child {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    
    .bg-one {background-image: url(https://media.timeout.com/images/101602611/image.jpg);}

    .parent:hover .child, .parent:focus .child {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    
    .parent:hover .child:before, .parent:focus .child:before {
        display: block;
    }
    
    .parent:hover a, .parent:focus a {
        display: block;
    }
    
    .child:before {
        content: "";
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(52,73,94,0.75);
    } */


