@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    font-family: 'Open Sans', sans-serif;
}
html
{
    scroll-behavior: smooth;
    
}

#app
{
    font-family: 'Roboto', sans-serif;
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

hr
{   height: 2px;
    background: radial-gradient(circle, rgba(233,71,153,1) 0%, rgba(253,235,244,1) 77%, rgba(255,255,255,1) 100%);
    width: 60%;

}

#phone
{
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
    max-height: 60vh;
    display: flex;
    float: inline-end;
}
svg
{
}

.header-div
{
    display: flex;
    justify-content: space-around;
}

.header-buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-content
{   margin-top: 15%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

header
{
    background: #f25287;
    background-size: 400% 400%;
    /* padding: 1rem; */
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.navbar-brand
{
    max-width: 5%;  
}
.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}


.container
{
    display: flex;
    justify-content: space-around   ;
}

.nav-content
{   margin-left: 25rem;
    display: flex;
    justify-content: space-around   ;
}




    .dealer
    {
        font-family: 'Yellowtail', cursive;

    }

    
    
    #title {
        width: 100%;
        position: absolute;
        padding: 0px;
        margin: 0px auto;
        text-align: center;
        font-size: 27px;
        color: rgba(255, 255, 255, 1);
        font-family: 'Open Sans', sans-serif;
        z-index: 9999;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
    }

    
    #buttoner
    {
        color: #f25287;
    }

    .progress-container {
        width: 100%;
        height: 6px;
        background: #fff;
      }
      
      /* The progress bar (scroll indicator) */
      .progress-bar {
        height: 6px;
        background: #EF5288;
        width: 0%;
      }
    .imger
    {     background-origin: padding-box;

        background: 
    linear-gradient(
      rgba(255, 0, 128, 0.65), 
      rgba(255, 0, 221, 0.35)
    ),
    url(https://tradelinestores.s3.amazonaws.com/media/product_images/80df4526-ec11-4f12-9091-45b560454bc4.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 500px;
    }

    


    .imger1
    {     background-origin: padding-box;

        background: 
    linear-gradient(
      rgba(8, 141, 230, 0.65), 
      rgba(71, 170, 250, 0.35)
    ),
    url(    https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Hand_Gesture_-_Holding_a_Phone_Vector.svg/1200px-Hand_Gesture_-_Holding_a_Phone_Vector.svg.png
    );
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 500px;
    }

    
    


    .imger2
    {     background-origin: padding-box;

        background: 
    linear-gradient(
      rgba(255, 0, 0, 0.65), 
      rgba(255, 0, 0, 0.35)
    ),
    url(   https://img.freepik.com/free-vector/usb-micro-cable-illustration-realistic-3d-isolated-white-black-connector_33099-589.jpg?size=626&ext=jpg
    );
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 500px;
    }


    @media only screen and (max-width: 500px)
    {
        .imger1
        {     
            position: relative;
            background: 
        linear-gradient(
          rgba(8, 141, 230, 0.65), 
          rgba(71, 170, 250, 0.35)
        ),
        url(    https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Hand_Gesture_-_Holding_a_Phone_Vector.svg/1200px-Hand_Gesture_-_Holding_a_Phone_Vector.svg.png
        );
        background-size: 90%;
            background-repeat: no-repeat;
            background-position-y: center;
            
        }
    
        
        
    
    
        .imger2
        {     
            position: relative;
            background: 
        linear-gradient(
          rgba(255, 0, 0, 0.65), 
          rgba(255, 0, 0, 0.35)
        ),
        url(   https://img.freepik.com/free-vector/usb-micro-cable-illustration-realistic-3d-isolated-white-black-connector_33099-589.jpg?size=626&ext=jpg
        );
        background-size: 90%;
            background-repeat: no-repeat;
            background-position-y: center;
            text-align: center;
            
            
        }

        .imger
    {     
        position: relative;
        background: 
    linear-gradient(
      rgba(255, 0, 128, 0.65), 
      rgba(255, 0, 221, 0.35)
    ),
    url(https://tradelinestores.s3.amazonaws.com/media/product_images/80df4526-ec11-4f12-9091-45b560454bc4.jpg);
        /* background-position: center; */
        background-size: 90%;        background-repeat: no-repeat;
        height: 500px;
        background-position-y: center;
        
    }

    .labels 
    {       
        position: absolute;
        color: #FFF;
        top:50%;
        left: 35%;
        text-align: left;
        
    }
    }
    